<div class="app-welcome">
    <div class="image column">
      <div class="image-div">
        <div class="username">
          <h2>{{username | uppercase}}</h2>
          <div class="vertical-line"></div>
        </div>
        <div class="image-outline"></div>
        <img src={{imageUrl}}>
      </div>
    </div>
  
    <div class="welcome-message column">
      <p class="welcome-message-p">
        Welcome to PROFLR. The place to get your professional
        voice out into the world.
      </p>
      <div class="quotes">
        <span>“</span>
        <p>
          {{userbio}}
          <br>
        </p>
        <p><b>~ {{quoteFrom}}</b></p>
        <span>”</span>
      </div>
    </div>
  </div>
  