@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Rajdhani|Lalezar&display=swap');

.app-home {
  display: flex;
  min-height: 600px;

  .username {
    width: 10%;
    margin-left: 3%;
    margin-top: 18%;

    h2 {
      transform: rotate(270deg);
      position: absolute;
      top: 0;
      margin-top: 18%;
      font-family: "Lalezar";
    }

    .vertical-line {
      border-left: 1px solid black;
      height: 250px;
      margin-left: 3%;
      position: absolute;
    }
  }

  .image {
    display: flex;
    width: 40%;

    .image-div {
      width: 27%;
      z-index: 1;
      position: absolute;

      img {
        max-width: 100%;
        height: auto;
      }
    }

    .image-outline {
      border: 1px solid black;
      height: 75%;
      width: 35%;
      margin-left: 50px;
      margin-top: 20px;
      position: absolute;
    }
  }

  .welcome-message {
    // background-color: red;
    width: 35%;
    align-self: flex-end;
    padding: 2%;
    line-height: 2em;

    .welcome-message-p{
      font-size: 1.5em;
      font-family: "Lalezar";
    }
   
    .quotes {
      // margin-top: 50%;

      span {
        font-size: 1.5em;
        font-weight: bolder;
        padding-top: 30px;
      }

      p {
        align-items: justify;
        padding-left: 30px;
        padding-bottom: 10px;
        // font-size: 0.8em;
        // font-family: "Open Sans Condensed";
        font-family: "Rajdhani";
      }
    }
  }
}