<app-dashboard></app-dashboard>
<div class="app-home">

  <div class="username">
    <h2>JANE DOE</h2>
    <div class="vertical-line"></div>
  </div>

  <div class="image">
    <div class="image-div">
      <img src={{imageUrl}}>
    </div>
    <div class="image-outline"></div>
  </div>

  <div class="welcome-message">
    <p class="welcome-message-p">
      Welcome to PROFLR. The place to get your professional
      voice out into the world.
    </p>
    <div class="quotes">
      <span>“</span>
      <p>
        What did you want to be when you grew up? An actor?
        An astronaut in training? Perhaps a professional fighter who plays Coachella?
        Or a fashion designer who holds a land-speed record?
        Idris Elba became all of the above.
        <br>
      </p>
      <span>”</span>
    </div>
  </div>

</div>
